html,body{
    color: darkslategrey;
    font-family: "Segoe UI", sans-serif;
    background: #181827FF;
    margin: 0;
    height: 100vh;
}

#login-button{
    background: gray;
    padding: 16px;
    border-radius: 8px;
    width: 300px;
    corner:round;
    border: none;
    font-size: 15px;
    position: relative;
    left: -200px;
}

#login-button:hover{
    background: darkgray;
}

#create-account-button{
    background: dodgerblue;
    padding: 16px;
    border-radius: 8px;
    width: 300px;
    corner:round;
    border: none;
    font-size: 15px;
}

#create-account-button:hover{
    background: lightskyblue;
}

#login-buttons{
    margin: 0;
    position: relative;
    left: 210px;
}
#front-page-icon-container{
    position: relative;
    left: 180px;
}
#front-page-icon{
    max-width: 50%;
    max-height: 50%;
}

#login-screen{
    border: black;
}

.hidden{
    display: none !important;
}

.login-input{
    background: #2b2b2b;
    padding: 16px;
    border-radius: 8px;
    width: 300px;
    color: white;
}

#login-menu-text{
    position: relative;
    left: 150px;
    color: white;
    font-size: large;
}

#login-button-actually-login{
    background: #006ab6;
    padding: 16px;
    border-radius: 8px;
    width: 300px;
    corner:round;
    border: none;
    font-size: 15px;
    position: relative;
    left: 200px;
}

#create-account-button-actually-create-account{
    background: #006ab6;
    padding: 16px;
    border-radius: 8px;
    width: 300px;
    corner:round;
    border: none;
    font-size: 15px;
    position: relative;
    left: 200px;
}

#create-account-button-actually-create-account:hover {
    background: #3c97bf;
}

#login-button-actually-login:hover{
    background: #3c97bf;
}

#opening-screen{
    display: grid;
    place-items: anchor-center;
}

#create-account-error{
    color: red;
}

#login-error{
    color: red;
}

#dashboard{
    color: white;
}

#create-account-menu{
    color:white;
}

#welcome-text{
    position: relative;
    font-size: 100px;
    color: white;
    left: 100px
}